<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/skeleton-auto.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/animations.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/brands.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/share.button.css' | relative_url }}">
    <script src="{{ '/extra/custom-assets/jquery.min.js' | relative_url }}"></script>
    <script src="{{ '/extra/custom-assets/particles.min.js' | relative_url }}"></script>
    {% include custom-head.html %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                {{ content }}
            </div>
        </div>
    </div>
    {% include custom-body.html %}
    {% include custom-body-end.html %}
</body>
</html>